nav {
	float:right;
	font-family: Arial, sans-serif;
	color: grey;
	font-size: small;

	
}
nav ul, footer ul{
	list-style-type: none;
	
}
nav ul li  {
	display: inline-block;
	width: 65px;
	height:32px;
	
	
	text-align: left;
	
	
}
nav{
	font-size:small;
}
footer ul li{
	display:inline-block;
	width:100px;
	height:32px;
	text-align:left;
}

div{
	display:block;
	height:300;
	width:500;
	position:relative;
	top:75px;
	clear:left;
	clear:right;
    text-align: center;
}

}
 #app_logo{
 	background-size:31px 31px;
 	margin-bottom: -20px;
 	height:31px;
 	width:31px;
 	position:absolute;
 	top: 15px;
 	padding-top:5px;

}


 #pic{background-size: 31px 31px;
	border-radius: 50%;
	overflow:hidden;
	color: rgb(0, 0, 0);
	cursor: default;
	margin-bottom: -8px;
	text-align: left;
	white-space: nowrap;
	width: 31px;}

div #search_box{
	margin-right: auto;
	margin-left:auto;
	width: 700px;
	height:34px;
	border:  1px;
	text-align:center;
	border-style: solid;
	border-top-color: black;
	border-right-color:#a0a0a0;
	border-bottom-color:#a0a0a0;
	border-left-color:black;
	display:block;

}
#microphone{
	float:right;
	padding:5px 5px 0px 0px;
    color:#d3d3d3;
}
#buttons{
	margin-right:auto;
	margin-left:auto;
	position: relative;
	top:150px;
	list-style-type: none;
	
     
}
#buttons li{
	display:inline-block;
	
	border-radius:5px;
	border-color: #d3d3d3;
	border-style: solid;
	margin:0px 10px 0px 10px;
	text-align: center;
	background-color: #d3d3d3;
	font-weight:bold;
	font-size: small;
	width:135px;
	height:25px;
	padding-bottom:13px;


}
footer  #left{

	position:fixed;
	bottom:15px;
	left:0px;
}
footer #right{
	position:fixed;
	bottom:15px;
	right:0px;
}


